#p1{
	font-size: 20pt;
	margin-top: 80px;
}
.divFone{
	height: 300px;
}
#phone{
	width: 275px;
}

#comeceja{
	margin-top: 120px;
	left: 150px;
}
#img3{
	width: 400px;
	height: 255px;
}
.pcomece{
	width: 300px;
    height: 100px;
    padding-top: 50px;
}